* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

.btn {
    height: 38px;
    padding: 5px 25px;
    border-radius: 19px;
    font-weight: 100;
    font-size: .9em;

}

.btn-colored {
    background: linear-gradient(118deg, #4e82f4, #4e82f4);
    color: #fff;
}

.navbar-brand {
    color: #000;
}

.navbar-brand:hover {
    color: #111;
}

.navbar-brand h1 {
    font-size: 1.3em;
    font-weight: 300;
}

header nav a {
    margin: 0 5px;
    color: #fff;
    font-weight: 300;
}

header nav a:hover {
    color: #fafafa;
}

header {
    z-index: 999999999;
    position: relative;
    /*height: 65px;*/
    /*z-index: 9999999999;*/
    /*background: rgba(0, 0, 0, .3);*/
}

.top-log-img {
    max-height: 20px;
}

section.cover {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-top: -65px;
    height: 100vh;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*background-image: url("../img/cover.jpg");*/
    /*background-color: #8ed4ff;*/
    align-items: center;
    justify-content: center;
}

section.cover::after {
    /*background: #fff;*/
    /*content: ' ';*/
    /*height: 195px;*/
    /*position: absolute;*/
    /*-webkit-transform-origin: 0% 0%;*/
    /*-ms-transform-origin: 0% 0%;*/
    /*transform-origin: 0% 0%;*/
    /*width: 100%;*/
    /*margin: 0 auto;*/
    /*display: block;*/
    /*margin-bottom: -195px;*/
    /*-ms-transform: skew(0deg, -3deg);*/
    /*-webkit-transform: skew(0deg, -3deg);*/
    /*transform: skew(0deg, -3deg);*/
    /*bottom: 40px;*/
    /*z-index: 1;*/
    /*box-shadow: 0px -1px 20px 0px rgba(0, 0, 40, .3);*/
    display: inline-block;
    /*background: linear-gradient(118deg, #f46553, #ff3158);*/
    /*background: linear-gradient(118deg, rgb(31, 25, 28), rgb(84, 82, 87));*/
    background-image: url("../img/shape.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
    /*border-radius: 54% 46% 64% 36%/64% 42% 58% 36%;*/
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    width: 930px;
    height: 870px;
    /*z-index: -1*/
}

.cover-container {
    width: 100%;
}

.cover-slider-container {
    position: absolute;
    height: 100vh;
    width: 50vw;
    z-index: 10;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-slider {
    width: 100%;
    z-index: 20;
    height: 350px;
    display: block;
    clear: both;
    /*float: right;*/
    position: relative;
    overflow: hidden;
}

.cover-slider .slides {
    height: 310px;
    padding: 10px;
    width: 1000px;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}
.cover-slider .cover-slide {
    margin: 0 10px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, .14);
    transition: height .2s , width 0s, margin .4s, opacity .7s;
}
.cover-slider .cover-slide.third {
    height: 80%;
    width: 200px;
    background: #f9f9f9;
    margin-right: -180px;
}
.cover-slider .cover-slide.second {
    height: 90%;
    width: 200px;
    background: #fafafa;
    margin-right: -170px;
}
.cover-slider .cover-slide.first {
    width: 240px;
    height: 100%;
    z-index: 10;
    background: #fff;
}

.cover-slide-controller {
    width: 100%;
    height: 40px;
    user-select: none;
}
.cover-slide-controller .control {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
}


.cover-slider .title {
    padding: 6px 15px;
    font-size: 1.1em;
    font-weight: 300;
    color: #000;
    height: 10%;
}
.cover-slider .icon {
    width: 80%;
    margin: auto;
    display: block;
    height: 40%;
    text-align: center;
    padding: 5px;
}

.cover-slider .icon img {
    max-width: 100%;
    max-height: 100%;
}

.cover-slider .description {
    padding: 15px;
    font-size: .8em;
    color: #494949;
    font-weight: 300;
    height: 40%;
}

.cover-slider .link {
    height: 10%;
    padding: 0 15px;
    font-size: .8em;
    width: 100%;
    display: block;
}

.cover-slider .link a {
    width: 100%;
    display: block;
    color: #4e82f4;
}

section.cover .welcome-box {
    /*width: calc(100% - 650px);*/
    z-index: 9999;
}

section.cover .welcome-box .title {
    font-size: 1.7em;
    font-weight: 300;
    color: #444;
}

section.cover .welcome-box p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1em;
    font-weight: 300;
}

.section-title-center {
    position: relative;
    font-size: 2em;
    font-weight: 500;
    /*display: inline-block;*/
    width: auto;
    z-index: 99999;
    text-align: center;
}

.section-title-center span {
    padding-bottom: 9px;
    /*border-bottom: 3px solid #000;*/
}

.section-title-side {
    font-size: 2em;
    font-weight: 500;
    text-align: right;
    position: relative;
}

.section-title-side::after {
    width: 30px;
    height: 3px;
    border-radius: 2px;
    background: #000;
    display: inline-block;
    position: absolute;
    top: 120%;
    right: 0;
    content: '';
}

/*.section-title-center::after {*/
/*width: 130px;*/
/*height: 3px;*/
/*border-radius: 2px;*/
/*background: #000;*/
/*display: inline-block;*/
/*position: absolute;*/
/*top: 120%;*/
/*right: 50%;*/
/*left: 50%;*/
/*margin-left: -65px;*/
/*content: '';*/
/*}*/

.section-text-side {
    margin-top: 50px;
    padding-left: 20px;
    font-size: 1em;
    font-weight: 300;
    color: #363636;
}

section.about-us {
    padding-bottom: 100px;
    z-index: 10;
    position: relative;
    background: #fff;
}

section.what_we_do {
    /*padding-bottom: 60px;*/
    /*background: gray;*/
}

section.works::before {
    /*background: rgb(245, 245, 245);*/
    /*content: ' ';*/
    /*height: 195px;*/
    /*position: relative;*/
    /*-webkit-transform-origin: 0% 0%;*/
    /*-ms-transform-origin: 0% 0%;*/
    /*transform-origin: 0% 0%;*/
    /*width: 100%;*/
    /*margin: 0 auto;*/
    /*display: block;*/
    /*margin-bottom: -195px;*/
    /*-ms-transform: skew(0deg, 3deg);*/
    /*-webkit-transform: skew(0deg, 3deg);*/
    /*transform: skew(0deg, 3deg);*/
    /*top: -120px;*/
}

section.works {
    /*padding-top: 80px;*/
    z-index: 900000;
    padding-bottom: 20px;
    /*background-color: rgb(245, 245, 245);*/
    position: relative;
}

section.works::after {
    /*background: rgb(245, 245, 245);*/
    /*content: ' ';*/
    /*height: 195px;*/
    /*position: relative;*/
    /*-webkit-transform-origin: 0% 0%;*/
    /*-ms-transform-origin: 0% 0%;*/
    /*transform-origin: 0% 0%;*/
    /*width: 100%;*/
    /*margin: 0 auto;*/
    /*display: block;*/
    /*margin-bottom: -195px;*/
    /*-ms-transform: skew(0deg, -3deg);*/
    /*-webkit-transform: skew(0deg, -3deg);*/
    /*transform: skew(0deg, -3deg);*/
    /*top: -10px;*/
    /*z-index: 1;*/
}

section.packages {
    /*background: gray;*/
}

.package-parent {
    transition: all .3s;
}

.package-description {
    transition: all .3s;
    font-size: 1em;
    font-weight: 200;
    padding: 20px;
    color: #555;
}

.box.hover:hover + .package-title {
    color: #333;
}

.box {
    border-radius: 7px;
    width: 100%;
    height: 200px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 10px 25px 5px rgba(0, 0, 20, .08);
    transition: all .3s;
    margin-bottom: 20px;
}

.abilities .box {
    margin-bottom: 50px;
    overflow: hidden;
    box-shadow: 0 1px 25px 5px rgba(0, 0, 20, .08);
    border-radius: 20% 15% 15% 20% / 50% 39% 39% 70%;
}

.abilities-title {
    display: block;
    text-align: left;
    padding: 10px 0;
    color: #444;
}

.abilities-description {
    font-size: .92em;
    font-weight: 100;
    color: #555;
    padding-right: 15px;
}

.ability-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ability-icon {
    max-width: 50%;
    height: auto;
    margin: auto;
    /*width: 600px;*/
    /*height: 300px;*/
    /*background: gray;*/
    /*position: absolute;*/
    /*z-index: 123123;*/
}

.full-height {
    height: 100%;
}

.ability {
    width: 150%;
    position: relative;
    right: 0;
    left: -50%;
    height: 100%;
    transform: skew(10deg);
    /*border-radius: 14% 16% 24% 16%/24% 32% 72% 16%;*/
    text-align: center;
    padding-left: 50%;

}

.ability-1 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f44881), to(#ec454f));
    background-image: linear-gradient(180deg, #f44881, #ec454f)
}

.ability-2 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6edcc4), to(#1aab8b));
    background-image: linear-gradient(180deg, #6edcc4, #1aab8b)
}

.ability-3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8b60ed), to(#b372bd));
    background-image: linear-gradient(180deg, #8b60ed, #b372bd)
}

.ability-4 {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f19a1a), to(#ffc73c));
    background-image: linear-gradient(0deg, #f19a1a, #ffc73c)
}

.box.hover:hover {
    box-shadow: 0 10px 25px 0 rgba(0, 0, 20, .11);
    background-color: #fff;
    /*cursor: pointer;*/
}

.box .box-header {
    position: absolute;
    margin-bottom: 20px;
    top: 0;
    width: 100%;
    padding: 0 10px;
    height: 28px;
    text-align: left;
}

.box .box-header i {
    padding: 5px 0;
    font-size: 1.4em;
    cursor: pointer;
    border-radius: 50%;
    color: #656565;
}

.box .box-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 10px;
    height: 28px;
    text-align: right;
}

.box .box-footer i {
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: all .2s;
    color: #656565;
}

.box .box-footer i:hover {
    background-color: rgba(0, 0, 0, .1);
}

section.contact {
    padding-top: 120px;
    /*background-color: #ddd;*/
    padding-bottom: 100px;
}

.package-parent.active {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.box.works {
    height: auto;
}

.contact-box {
    width: 100%;
    height: auto;
    text-align: left;
    padding-top: 0;
}

.contact-box a {
    margin: 15px 10px;
    color: #4b4b4b;
    display: block;
}

.contact-box a i {
    font-size: 1.5em;
}

.contact-box a span {
    font-size: 1em;
    padding-left: 10px;
    position: relative;
    top: -6px;
}

.abilities {
    padding-top: 20px;
}

.loader-part {
    opacity: 0;
    position: relative;
    top: 40px;
    transition: opacity .5s, top .5s;
}

.works-container {
    position: relative;
    padding-top: 40px;
    z-index: 999;
}

.work-box {
    width: 100%;
}

.work-box.website {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    min-height: 190px;
    background-color: #dedede;
    overflow: hidden;
    box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, .2);
    border-radius: 4px;
}

.work-box.design {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    min-height: 260px;
    background-color: #dedede;
    overflow: hidden;
    box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, .2);
    border-radius: 4px;
}

.works-tabs-parts {
    padding-top: 30px;
}

.work-box .work-box-header {
    display: none;
}

.work-box.website .work-box-header {
    display: inline-block;
    width: 100%;
    height: 15px;
    position: relative;
    /*top: -15px;*/
    color: #fff;
    background-color: #d4d4d4;
    border-radius: 4px 4px 0 0;
}

.work-box.website .work-box-header i {
    position: relative;
    top: -3px;
    left: 5px;
}

.work-box-bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 15px;
    border-radius: 0 0 4px 4px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all .3s;
    filter: blur(0px);
}

.work-box:hover .work-box-bg {
    filter: blur(8px);
}

.work-box .work-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 15px;
    background-color: rgba(10, 10, 16, .0);
    transition: all .3s;
    border-radius: 0 0 4px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.work-box.design .work-info, .work-box.design .work-box-bg {
    top: 0;
}

.work-box:hover .work-info {
    opacity: 1;
    background-color: rgba(10, 10, 16, .6);
}

.project-title {
    font-size: 1.1em;
    color: #fff;
}

.ability-url {
    font-size: .9em;
    font-weight: 300;
    /*padding-bottom: 10px;*/
    /*display: block;*/
    width: 100%;
    color: #4e82f4;
    border-bottom: 1px solid #4e82f4;
    /*padding-right: 50px;*/
    text-align: center;
}

.ability-url:hover {
    color: #444;
    border-color: #444;
}

.work-tabs {
    text-align: center;
    display: inline-block;
    width: 100%;
    border: none;
    /*width: 221px;*/
    height: 40px
}

.work-tabs .nav-item {
    /*margin: auto;*/
    /*background: transparent;*/
    display: inline-block;
    width: 100px;
    float: none;
    margin: -5px;
    padding: 0;
}

.work-tabs .nav-item {
    width: 150px;
}

.work-tabs .nav-item .nav-link {
    /*border: 1px solid #21c8f6;*/
    border: 1px solid #dddddd;
    width: 100%;
    padding: 10px 50px;
    color: #000;
}

.work-tabs .nav-item:first-child .nav-link {
    /*border-radius: 25px 0 0 25px;*/
}

.work-tabs .nav-item:last-child .nav-link {
    /*border-radius: 0 25px 25px 0;*/
}

.work-tabs .nav-item.active, .work-tabs .nav-link.active {
    background: transparent;
}

.work-tabs .nav-link {
    border: none;
}

.work-tabs .nav-link.active {
    padding: 12px 50px;
    /*border-radius: 25px !important;*/
    width: calc(100% + 15px);
    z-index: 999;
    position: relative;
    border: none;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, .09);
    /*background-image: linear-gradient(125deg, #21c8f6, #637bff);*/
    background: rgb(221, 221, 221);
    color: #444;
}

.work-tabs .nav-item:last-child .nav-link.active {
    left: -20px;
}

.packages {
    padding-top: 20px;
}

.package-box {
    margin-bottom: 50px;
    width: 100%;
    padding-bottom: 30px;
    border-radius: 30px;
    min-height: 400px;
    position: relative;
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .1);
}

.package-title {
    width: 100%;
    text-align: center;
    height: 60px;
    /*background: #fafafa;*/
    padding-top: 45px;
    font-size: 1.3em;
}

.starter-price {
    position: absolute;
    right: -10px;
    top: -10px;
    padding: 5px 15px;
    /*color: #328af1;*/
    color: #fff;
    border-radius: 24% 24% 35% 35%/44% 52% 80% 80%;
}

.package-1 .starter-price {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f44881), to(#ec454f));
    background-image: linear-gradient(180deg, #f44881, #ec454f)
}

.package-2 .starter-price {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6edcc4), to(#1aab8b));
    background-image: linear-gradient(180deg, #6edcc4, #1aab8b)
}

.package-3 .starter-price {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8b60ed), to(#b372bd));
    background-image: linear-gradient(180deg, #8b60ed, #b372bd)
}

.package-4 .starter-price {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f19a1a), to(#ffc73c));
    background-image: linear-gradient(0deg, #f19a1a, #ffc73c)
}

.package-1-referrer {
    color: #f44881;
}

.package-2-referrer {
    color: #1aab8b;
}

.package-3-referrer {
    color: #8b60ed;
}

.package-4-referrer {
    color: #f19a1a;
}

.maintenance-costs {
    text-align: center;
    width: 80%;
    padding: 10px;
    background: #fafafa;
    margin: auto;
}

.packages-description {
    font-size: .9em;
    color: #444;
}

.starter-price .hint {
    font-size: .9em;
    font-weight: 100;
    display: inline-block;
}

.starter-price .price {
    font-size: 1.2em;
    display: inline-block;
}

.package-options ul {
    padding-top: 20px;
    text-align: center;
}

.package-options ul li {
    list-style: none;
    font-size: .9em;
    padding: 3px 0;
}

@media screen and (max-width: 1000px) {

    .navbar-brand, .navbar-brand:hover {
        color: #fff;
    }

    section.cover {
        /*background: linear-gradient(118deg, rgb(31, 25, 28), rgb(65, 63, 67));*/
        /*background: linear-gradient(118deg, #f46553, #ff3158);*/
        background: rgb(43, 85, 182);

    }

    section.cover::after {
        display: none;
    }

    section.cover .welcome-box {
        max-width: 100%;
        width: 100%;
        /*text-align: center;*/
    }

    section.cover .welcome-box, section.cover .welcome-box .title {
        color: #fff;
    }

    section.about-us {
        padding-top: 50px;
    }

    .ability-shape {
        display: none;
    }

    .ability-info {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        padding-left: 60px;
        padding-top: 30px;
    }

    .ability-content {
        width: 100%;
        display: block;
    }

    .btn {
        font-weight: 300;
    }

    .section-text-side {
        text-align: center;
    }

    .section-title-side, .section-title-center {
        margin: auto;
        text-align: center;
        width: 60%;
    }

    .section-title-side, .section-title-center span {
        display: block;
        /*border-bottom: 2px solid #000;*/
    }

    .section-title-center span {
        width: 100%;
    }

    .section-title-side::after {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .cover-slider-container {
        display: none;
    }
    section.cover .welcome-box {
        text-align: center;
    }
}